%ul{:id=>"nav"}
  %li
    %a{:href=>"/"}= "home"
  %li
    %a{:href=>"http://docs.s4.io"}= "docs"
  %li
    %a{:href=>"https://cwiki.apache.org/confluence/display/S4/S4+Wiki"}= "wiki"
  %li
    %a{:href=>"http://git-wip-us.apache.org/repos/asf?p=incubator-s4.git", :onClick=> google_analytics_event("External", "Apache Git", "http://github.com/s4")}= "code (0.3+)"
  %li
    %a{:href=>"/contrib"}= "get involved"
  %li
    %a{:href=>"http://blog.s4.io"}= "blog"
  %li
    %a{:href=>"/team"}= "team"
